.comments{
    margin-top: 40px;
    padding: 40px 40px;
}

.comments>img{
    margin-left: 650px;
   margin-bottom: 40px;
}
.comments>h1{
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 50px;
    color: rgb(128, 127, 124);
}
.comments>h2{
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(50, 50, 49);
}