.header{
    background-color: rgb(11, 11, 35);
    color: beige;
    font-size: small;
    height: 25px;
}
.header1{
    display: flex;
    background-color: rgb(225, 229, 229);
    height: 70px;
}

.logo{
    width: 250px;
    margin-right: 200px;
}
.sign,.cart,.fav{
    margin-right: 70px;
  margin-top: 10px;
}
.fav{
    margin-top: 20px;
}

#header{
    position: fixed;
}
.navbar{
    display: flex;
    padding-left: 150px;
    justify-content: space-evenly;
    font-family:Arial, Helvetica, sans-serif;
    height: 30px;
   background-color: rgb(245, 245, 242);
   
}
.newArrivals,.rings,.earings,.bangles,.necklace,.kids,.signin{
    position:relative;
}
.drop,.drop1,.drop2,.drop3,.drop4,.drop5,.drop6{
    position: absolute;
    display: none;
}
.newArrivals:hover .drop{
    display: block;
}
.rings:hover .drop1{
    display: block;
   
}
.earings:hover .drop2{
    display: block;
}
.bangles:hover .drop3{
    display: block;
}
.necklace:hover .drop4{
    display: block;
}
.kids:hover .drop5{
    display: block;
}
.signin:hover .drop6{
    display: block;
}